@import url(https://fonts.googleapis.com/css2?family=Bungee&display=swap);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bungee', cursive;
}

header {
  width: 90%;
  margin: 1em auto;
  font-size: 1em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 85%;
}

.button {
  background-color: #ffb34f;
  height: 3.5em;
  width: 6em;
  font-family: 'Bungee', cursive;
  cursor: pointer;
  border-radius: 4px;
  color: rgb(0, 35, 80);
  border: 2px solid #945a0d;
  transition: all 0.2s;
}

.button:hover {
  background-color: #e9a348;
  transform: scale(1.1);
}

.header-recent-scores {
  display: flex;
  justify-content: space-between;
}

.scores {
  display: flex;
  flex-direction: column;
  border: 3px #272727 solid;
}

.individual-scores {
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 0.4em 0.5em;
}

.title {
  font-size: 1em;
}

.individual-scores:nth-child(odd) {
  background-color: rgb(220, 220, 220);
}

.add-score {
  margin-top: 1em;
  text-align: center;
}

.add-score h2 {
  margin-bottom: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form input {
  width: 15em;
  padding: 0.4em;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    gap: 2em;
    width: 80%;
    margin: 0 auto;
  }

  .recent-scores {
    width: 25em;
  }
}
